<center>
  <form method="POST">
      <label>Insert gender (0 for female, 1 for male): </label>
      <input type="number" name=Gender" min="0" max="1">
      <label>Insert ParentIncome : </label>
      <input type="number" name="ParentIncome">
      <label>Insert IQ: </label>
      <input type="number" name="IQ" min="0" max="1">
      <label>Insert ParentEncouragement (0 for Do not Encourage, 1 for Encourage) : </label>
      <input type="number" name="ParentEncouragement" min="0" max="1">
      <br />

      <input type="submit">
      <br />
      <label>{{ href2 }} </label>
  </form>
</center>
